.btn-group{
    min-width: 70%;
    text-align: left;
    /*min-height: 100%;*/
}

.nav-button{
    min-height: 70px;
    min-width: 20%;
}

.login-group{
    min-width: 20%;
    float: right;
}

.title{
    min-width: 15%;
    float: left;
}

.navbar{
    background-color: #7BBA52 !important;
}
